# python
.venv/
__pycache__/
*.pyc

#dbt
hockey_dbt/target/
hockey_dbt/dbt_packages/
hockey_dbt/logs/

#airflow
airflow/logs/

#credentials
**/credentials.json
**/.env
~/.dbt/profiles.yml

#google cloud platform
application_default_credentials.jsonlogs/
airflow/config/
.vscode/
logs/
